@media screen and (max-width: 940px){
    .container-header{
        padding:0;
        position: fixed;
        background-color: #faf7f8ef;
    }
    
    .container-sessoes{
        padding: 2rem 0;
        flex-direction: column;
        width: 100%;
    }
    
    .sessao-nome-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu{
        margin-top: 10px;
        width: 50px;
        cursor: pointer;
        display: block;
    }

    .menu-mobile{
        display: none;
    }

    .menu-mobile.ativo {
        display: flex;
    }

    .lista-opcoes{
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .sessao-botao{
        display: none;
    }
}