@media screen and (max-width: 940px){
    .section-about{
        padding: 70px 0;
    }

    .container-section-about{
        width: 85%;
    }

    .section-superior-texts{
        align-items: center;
        width: 100%;
    }

    .section-superior-texts h2{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .section-superior-texts p{
        text-align: center;
        font-size: 0.9rem;
        font-weight: 300;
        color: #474747
    }

    .container-about-image{
        display: none;
    }

    .section-about-aditional-infos p{
        font-size: 0.8rem;
    }

    .btn-about-contact{
        width: 8rem;
        padding: 0.8rem;
        margin-top: 2rem;
    }
}