.section-about{
    background-color: #FFF1F2;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-section-about{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.container-section-superior{
    display: flex;
    flex-direction: row;
}

.section-superior-texts{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.section-superior-texts h2{
    font-weight: 300;
    font-size: 2.3rem;
    color: #2c2c2c;
    margin-bottom: 2rem;
}

.section-superior-texts p{
    font-size: 1.2rem;
    font-weight: 300;
    color: #474747
}

.container-about-image{
    width: 30%;
    display: flex;
    justify-content: center;
}

.container-about-image img{
    width: 65%;
    object-fit: cover;
    border-radius: 1.4rem;
}

.section-about-aditional-infos{
    display: flex;
    width: 60%;
    margin-top: 1rem;
}

.info-years, .info-clients{
    width: 50%;
    text-align: center;
}

.section-about-aditional-infos h4{
    color: #FF2B60;
    font-weight: 300;
    font-size: 2rem;
}

.section-about-aditional-infos p{
    font-weight: 400;
    font-size: 1rem;
}

.btn-about-contact{
    width: 9rem;
    margin-top: 3rem;
}
