*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans", sans-serif;
}

button{
    cursor: pointer;
    transition: 0.8s;
}

button:hover{
    filter:brightness(0.9);
}