.container-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 100px 0;
}

.container-texts{
    text-align: center;
    max-width: 800px;
    color: #474747;
}

.container-texts h2{
    color: #2c2c2c;
    font-weight: 300;
    font-size: 2.3rem;
}

.container-texts p{
    font-size: 1.2rem;
    font-weight: 300;
}


.container-cards{
    display: flex;
    gap: 1.5rem;
}