@media screen and (max-width: 940px){
    .container-texts{
        width: 85%;
        gap: 1rem;
    }

    .container-texts h2{
        font-size: 1.4rem;
    }

    .container-texts p{
        font-size: 0.9rem;
    }

    .container-cards{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .card-mobile{
        width: 20rem !important;
        gap: 0.3rem !important;
    }

    .card-mobile h3{
        font-size: 1.1rem !important;
    }

    .card-mobile span{
        font-size: 0.9rem !important;
    }
}