.container{
    width: 100%;
    margin-top: 3.25rem;
    border-top: 1px solid #ffffff;
}

.lettersUsed h5{
    font-size: 1rem;
    font-weight: 600;
    margin: 0.75rem 0;
}

.container div{
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
}