@media screen and (max-width: 940px){
    .section-contact-principal{
        padding: 70px 0;
        gap: 1rem;
    }

    .container-texts-contact{
        width: 85%;
    }   

    .container-texts-contact h2{
        font-size: 1.4rem;
    }

    .container-texts-contact p{
        font-size: 0.9rem;
    }

    .contact-infos-itens{
        padding: 1.5rem 2rem;
        border-radius: 1rem;
        gap:1rem;
    }

    .container-location-contact{
        flex-direction: column;
        gap: 1rem;
    }

    .container-map{
        width: 100%;
        height: auto;
    }

    .container-map iframe{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
}