.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo{
    width: 300px;
    margin: 0;
    padding: 0;
}

.container header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3.25rem 0;
}

.container header button{
    background-color: transparent;
    border: none;
}

.container header img{
    height: 2rem;
    transition: scale 0.5s;
}

.container header img:hover{
    scale: 1.2;
}

.container header span {
    font-size: 1.12rem;
    color: #8b8b8b;
}

.container header span strong{
    font-size: 1.37rem;
    color: #1880A0;
}
