.container{
    width: 2.87rem;
    height: 2.87rem;
    border-radius: 0.43rem;

    background-color: #ebebfc;
    border: 2px solid #cf2895;
    color: #cf2895;

    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;

    outline: none;
}