.section-gallery{
    background-color: #FFF1F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 100px 0;
    color: #474747
}

.container-infos-gallery{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.container-infos-gallery h2{
    text-align: center;
    font-weight: 300;
    font-size: 2.3rem;
}

.container-infos-gallery p{
    font-size: 1.2rem;
    font-weight: 300;
}

.container-buttons-gallery{
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.container-section-cards-gallery{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
}

    