@media screen and (max-width: 940px){
    .section-gallery{
        gap: 2rem;
    }

    .container-infos-gallery, .container-section-cards-gallery{
        width: 85%;
        text-align: center;
    }

    .container-infos-gallery h2{
        font-size: 1.5rem;
    }

    .container-infos-gallery p{
        font-size: 0.9rem;
    }

    .container-buttons-gallery{
        gap: 0.6rem;
        justify-content: center;
    }

    .btn-gallery-alt{
        font-size: 0.8rem !important;
        padding: 13px !important;
    }

    .btn-gallery-alt{
        font-weight: normal !important;
    }

    .container-section-cards-gallery{
        gap: 1rem;
    }

    .card-gallery{
        height: 12rem;
    }
}