.container-principal{
    background-image: linear-gradient(to right bottom, #ccb0b3 30%, #CCACB0 70%, #be939d 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0;
}

.container-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    gap: 1rem;
    color: #474747;
}

.container-infos h1{
    font-weight: 300;
    font-size: 4rem;
}

.container-infos h2{
    font-weight: 300;
    font-size: 2.2rem;
}

.container-infos p{
    font-size: 1.2rem;
    font-weight: 300;
}

.container-buttons{
    display: flex;
    gap: 2rem;
    
}

.btn-personalizado{
    width: 190px;
}