footer{
    background-color: #101828;
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.sessao-nome h2, p{
    font-weight: 300;
    color:#ffffff;

}

.sessao-nome p{
    font-size: 0.8rem;
}

.container-footer-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    color:#ffffff;
}

.first-footer-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sessao-nome-footer{
    padding-left: 3rem;
}

.sessao-nome-footer h2{
    font-weight: 300;
    font-size: 1.4rem;
}

.sessao-nome-footer p{
    font-weight: 300;
    font-size: 0.9rem;
}

.text-footer{
    font-size: 0.8rem;
}

.container-social{
    display: flex;
    gap: 10px;
}

.container-social button{
    background-color: #ff2b60;
    padding: 8px;
    border-radius: 40%;
    border: none;
    display: flex;
}

.container-social button:hover{
    opacity: 0.8;
}

.container-social img{
    width: 1.5rem;
}

.second-footer-container{
   width: 20%;
}

.third-footer-container{
    width: 20%;
}

.second-footer-container li, .third-footer-container li{
    list-style: none;
}

.second-footer-container a, .third-footer-container a{
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 200;
}

.footer-final-texts{
    width: 80%;
    border-top: 1px solid #ffffff;
    text-align: center;
    padding-top: 1rem;
}

.footer-final-texts p{
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 100;
}