@media screen and (max-width: 940px){
    .container-footer-principal{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }

    .first-footer-container{
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .second-footer-container{
        width: auto;
    }

    .third-footer-container{
        margin-top: 5px;
        width: auto;
    }

    .sessao-nome-footer{
        padding-left: 0;
    }

    .sessao-nome-footer h2{
    font-size: 1.1rem;
    }

    .sessao-nome-footer p{
        font-size: 0.7rem;
    }

    .text-footer{
        display: none;
    }

    .footer-final-texts p{
    font-size: 0.7rem;
}
    
}