.container-cards-gallery{
    display: flex;
    flex-direction: row;
    border-radius: 1.2rem;
    overflow: hidden;
}

.card-before, .card-after{
    position: relative;
    width: 50%;
    max-height: 300px;
}

.card-before img, .card-after img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.card-before img:hover, .card-after img:hover{
    transform: scale(1.2);
    filter: drop-shadow(0px 20px 8px #8f8f8f);
}

.card-before span, .card-after span{
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 5px;

    background-color: #1E2939;
    color: #ffffff;
    border-radius: 0.3rem;
    
    font-size: 1rem;
}

.card-after span{
    background-color: #FF2B60;
}
