.container-section-feedback{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: #474747;
}

.container-feedback-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container-feedback-texts h2{
    font-weight: 300;
    font-size: 2.3rem;
}

.container-feedback-texts p{
    font-size: 1.2rem;
    font-weight: 300;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 1.5rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffcdd2;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #e65b6a;
}