.container{
    width: 3.37rem;
    height: 3.37rem;
    border-radius: 0.62rem;

    background-color: #ebebfc;

    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterSmall{
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 0.43rem;

    font-size: 1.25rem;
    font-weight: 500;
    border: 1px solid #BE2387;
}

.letterCorrect{
    background-color: #e1f5ec;
    border-color: #37839b;
    color: #37839b;
}

.letterWrong{
    background-color: #ffbe80;
    border-color: #8a3636;
    color: #8a3636;
}
