.btn-gallery{
    width: 15rem;
    padding: 1.2rem;
    font-size: 1rem;
    text-align: center;

    color: #ff2b60;
    background-color:#ffffff ;
    border-radius: 1.70rem;
    border: 1px solid #ff2b60;
    
    transition: 0.8;
    
    
}

.btn-gallery:hover{
    font-weight: bold;
    
    background-color:#ff2b60 ;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.363);
}