.container{
    width: 100%;
    background-color: #ebebfc;
    color: #bb2586;
    border-radius: 0.62rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.container .icon{
    height: 36px;
}

.tip h3{
    font-size: 1.25rem;
    font-weight: 700;
}

.tip p{
    font-size: 1rem;
    margin-top: 0.31rem;
}